<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>LemonLDAP::NG</ShortName>
  <Image width="16" height="16" type="image/x-icon">https://lemonldap-ng.org/lib/tpl/bootstrap3/images/favicon.ico</Image>
  <Url type="text/html" template="https://lemonldap-ng.org/doku.php?do=search&amp;id={searchTerms}" />
  <Url type="application/x-suggestions+json" template="https://lemonldap-ng.org/lib/exe/ajax.php?call=suggestions&amp;q={searchTerms}" />
</OpenSearchDescription>
