<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" trspan="casSrv"></h3>
  </div>
  <table class="table">
    <tr>
      <th><span trspan="casSrvName"></span></th>
      <td><input id="hashkeyinput" class="form-control" ng-model="currentNode.title"/></td>
    </tr>
  </table>
</div>
<script type="text/menu">
[{
  "title": "addSrvCasPartner",
  "action": "addCasSrv",
  "icon": "plus-sign"
}, {
  "title": "deleteEntry",
  "icon": "plus-sign"
}]
</script>
